@font-face {
  font-family: "SuisseIntl";
  src: url("SuisseIntl-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("SuisseIntl-Light.otf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("SuisseIntl-Regular.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("SuisseIntl-Thin.otf") format("truetype");
  font-weight: thin;
}
