@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Geologica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
  letter-spacing: 0.7px;
}

#root {
  line-height: 1.5;
  font-weight: 200;
  min-height: 100vh;
}

.removeTagBlack {
  & > svg {
    fill: black;
  }
}

.removeTagWhite {
  & > svg {
    fill: white;
  }
}
